@model HR.DataAccess.Models.JobOffer

@{
    ViewData["Title"] = "Create";
}
<div class="form-group" style="margin-top:8px">
    <a asp-action="Index">Back to List</a>
</div>
<h4>Create Job Offer</h4>
<hr />


<div class="container">
    <div class="row">
        <form id="form" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label asp-for="Position" class="control-label"></label>
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Company</label>
                    <select class="form-control" id="companiesSelect" asp-for="CompanyId">
                        <option value="0">Select company</option>
                    </select>
                    <span asp-validation-for="CompanyId" class="text-danger"></span>
                </div>

            </div>
            <div class="row ">
                <div class="col col-md-6">
                    <div class="row ">
                        <div class=" col-sm-12">

                            <label class=" control-label">Salary Range:</label>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <div class="form-group col-sm-6">
                                <input asp-for="SalaryFrom" min="0" class="form-control" placeholder="From" />
                                <span asp-validation-for="SalaryFrom" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-6">
                                <input asp-for="SalaryTo" min="0" class="form-control" placeholder="To" />
                                <span asp-validation-for="SalaryTo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group col-sm-6">
                        <label asp-for="DateExpiration" class="control-label">Date Expiration</label>
                        <input asp-for="DateExpiration" type="date" class="form-control" />
                        <span asp-validation-for="DateExpiration" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col form-group col-sm-12">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <hr />
                    <a asp-controller="JobOffers" asp-action="Index" class="btn btn-default">Back to List</a>
                <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>

@section Scripts {

    <script>
    $(document).ready(() => {
        $("#companiesSelect").change((e) => {
            console.log(e.target.selectedIndex);
            $('#companyIdId').attr("value", e.target.selectedIndex);
        });
        loadCompanies();
          //  $("#companyIdId").rules("add", { min : 1});
    });
    function loadCompanies(url) {
        console.log('@Url.Action("GetCompanies", "API")');
        $.ajax({
            url: '@Url.Action("GetCompanies", "API")',
            type: "GET",
            datatype: 'json',
            success: function (data) {
                console.log(data)
                data.forEach(x => {
                    $('#companiesSelect').append(`<option value="${x.id}">
                                       ${x.name}
                                  </option>`);
                });
                },
        });
    }


    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
