@model IEnumerable<HR.DataAccess.Models.JobOffer>

@{
    ViewData["Title"] = "Index";
}

<h2>Job offers list</h2>
<hr />
<div class="col-md-12">
    <div class="form-group row" >
        <div class="col-md-10" style="padding:0">
        <input class="form-control col-md-10" autofocus id="searchBarId" placeholder="Type to filter job offers" />

        </div>
        <div class="col-md-2">
        <input id="searchBarButtonId" type="button" class="btn-primary form-control col-md-2" style="text-align:center" value="Search" />
        </div>
    </div>
    <hr/>
</div>

<div id="updatePanel">
</div>


@section Scripts{
    <script>
        var currentPage = 1;
        $(document).ready(function () {
            fetchData(1);
            $("#searchBarButtonId").click(x => {
            fetchData(1);
            });
            $("#searchBarId").on("keyup", x => {
                fetchData(1);
            });

        });
        function fetchData(pageNo) {
            var $loading = "<div class='loading'>Please wait...</div>";
         //   $('#updatePanel').prepend($loading);
            $.ajax({
                url: 'api/GetJobOffers',
                type: 'GET',
                data: {
                    pageNo: pageNo,
                    filter: $("#searchBarId").val()
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    var $table = $('<table/>').addClass('table table-striped table-bordered table-hover');
                    var $header = $('<thead/>').html(`<tr><th >Position</th><th >Company</th ><th width="220" >Monthly salary range in PLN</th><th style="text-align:center ">    <a style="font-weight:normal" class="btn-sm btn-primary " name="CreateNew" href=@Url.Action("Create","JobOffers")>Create New</a></th>`);
                    $table.append($header);
                    var $tbody = $('<tbody/>').html('');
                    $.each(data.offers, function (i, emp) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(emp.position));
                        $row.append($('<td/>').html(emp.company));
                        $row.append($('<td style="text-align:center"/>').html(emp.salaryFrom + " - " + emp.salaryTo));
                        $row.append($('<td width ="200"/>').html(
                              `<div style="text-align:center">  <a class="btn-primary btn-sm"  href=@Url.Action("Delete","JobOffers")/${emp.id}>Delete</a> `+
                            `<a class="btn-primary btn-sm"  href=@Url.Action("Edit","JobOffers")/${emp.id}>Edit</a>` +

                            `  <a class=" btn-primary btn-sm"  href=@Url.Action("Create","JobApplications")/${emp.id}>Apply</a>
    </div>
    `
                        ));

                        $tbody.append($row);
                    });

                    $table.append($tbody);
                    var totalPage = parseInt(data.totalPage);
                    console.log(totalPage)
                    var $footer = $('<tr/>');
                    var $footerTD = $('<td align="right" />').attr('colspan', 4).addClass('footerContent');
                    currentPage = pageNo;

                    $footerTD.append("Strona: ");
                    if (totalPage > 0) {
                        for (var i = 1; i <= totalPage; i++) {
                            var $page = $('<span/>').addClass((i == currentPage) ? "current" : "");
                            $page.html((i == currentPage) ? "<button style class='btn-sm btn-primary' onclick='fetchData(" + i + ");'>" + i + "</button>" : "<button class='btn-sm btn-secondary' onclick='fetchData(" + i + ");'>" + i + "</button>");
                            $footerTD.append($page);
                        }
                        $footer.append($footerTD);
                    }
                    $table.append($footer);

                    $('#updatePanel').html($table);
                },
                error: function () {
                    alert('Error! Please try again.');
                }
            }).done(function () {

             //   $loading.remove();
            });
        }
    </script>
}
